@import url('https://fonts.googleapis.com/css2?family=Georama:wght@200&display=swap');


*{
  box-sizing: border-box;
  font-family: 'Georama', sans-serif;
}

body{
  background-color: #e5e5e5;
}

main{
  max-width: 800px;
  width: 90%;
  margin: auto;
  padding: 40px;
}